Repository SMWU-POCHAK/POCHAK-Android, pull requests merged in 2024-10, with the labels that each got.

#2 [Feat] build-logic 모듈 생성
  app/build.gradle.kts
  app/src/main/java/com/site/pochak/app/MainActivity.kt
  app/src/main/java/com/site/pochak/app/ui/theme/Color.kt
  app/src/main/java/com/site/pochak/app/ui/theme/Theme.kt
  app/src/main/java/com/site/pochak/app/ui/theme/Type.kt
  build-logic/convention/build.gradle.kts
  build-logic/convention/src/main/kotlin/AndroidApplicationComposeConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidApplicationConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidFeatureConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryComposeConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidRoomConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidTestConventionPlugin.kt
  build-logic/convention/src/main/kotlin/HiltConventionPlugin.kt
  build-logic/convention/src/main/kotlin/com/site/pochak/app/AndroidCompose.kt
  build-logic/convention/src/main/kotlin/com/site/pochak/app/KotlinAndroid.kt
  build-logic/convention/src/main/kotlin/com/site/pochak/app/ProjectExtensions.kt
  build-logic/gradle.properties
  build-logic/settings.gradle.kts
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ feat

#5 [Feat] Core 모듈 기본 세팅
  build-logic/convention/src/main/kotlin/AndroidFeatureConventionPlugin.kt
  core/common/.gitignore
  core/common/build.gradle.kts
  core/common/src/main/kotlin/com/site/pochak/app/core/network/NiaDispatchers.kt
  core/common/src/main/kotlin/com/site/pochak/app/core/network/di/CoroutineScopesModule.kt
  core/common/src/main/kotlin/com/site/pochak/app/core/network/di/DispatchersModule.kt
  core/common/src/main/kotlin/com/site/pochak/app/core/result/Result.kt
  core/data/.gitignore
  core/data/build.gradle.kts
  core/data/src/main/AndroidManifest.xml
  core/database/.gitignore
  core/database/build.gradle.kts
  core/database/src/main/AndroidManifest.xml
  core/designsystem/.gitignore
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/AndroidManifest.xml
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/theme/Color.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/theme/Theme.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/theme/Type.kt
  core/designsystem/src/main/res/font/pretendard_black.otf
  core/designsystem/src/main/res/font/pretendard_bold.otf
  core/designsystem/src/main/res/font/pretendard_extra_bold.otf
  core/designsystem/src/main/res/font/pretendard_extra_light.otf
  core/designsystem/src/main/res/font/pretendard_light.otf
  core/designsystem/src/main/res/font/pretendard_medium.otf
  core/designsystem/src/main/res/font/pretendard_regular.otf
  core/designsystem/src/main/res/font/pretendard_semi_bold.otf
  core/designsystem/src/main/res/font/pretendard_thin.otf
  core/model/.gitignore
  core/model/build.gradle.kts
  core/network/.gitignore
  core/network/build.gradle.kts
  core/network/src/main/AndroidManifest.xml
  core/ui/.gitignore
  core/ui/build.gradle.kts
  core/ui/src/main/AndroidManifest.xml
  settings.gradle.kts
Labels: ✨ feat

#7 [Feat] app 모듈 기본 세팅 및 바텀 네비게이션 연결
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/site/pochak/app/MainActivity.kt
  app/src/main/kotlin/com/site/pochak/app/MainActivity.kt
  app/src/main/kotlin/com/site/pochak/app/PochakApplication.kt
  app/src/main/kotlin/com/site/pochak/app/navigation/PochakNavHost.kt
  app/src/main/kotlin/com/site/pochak/app/navigation/TopLevelDestination.kt
  app/src/main/kotlin/com/site/pochak/app/ui/PochakApp.kt
  app/src/main/kotlin/com/site/pochak/app/ui/PochakAppState.kt
  app/src/main/res/drawable/ic_splash.xml
  app/src/main/res/values/themes.xml
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/component/Navigation.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/icon/PochakIcons.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/theme/Theme.kt
  core/designsystem/src/main/res/drawable/ic_alarm.xml
  core/designsystem/src/main/res/drawable/ic_alarm_filled.xml
  core/designsystem/src/main/res/drawable/ic_camera.xml
  core/designsystem/src/main/res/drawable/ic_camera_filled.xml
  core/designsystem/src/main/res/drawable/ic_home.xml
  core/designsystem/src/main/res/drawable/ic_home_filled.xml
  core/designsystem/src/main/res/drawable/ic_post.xml
  core/designsystem/src/main/res/drawable/ic_post_filled.xml
  core/designsystem/src/main/res/drawable/ic_profile.xml
  core/designsystem/src/main/res/drawable/ic_profile_filled.xml
  feature/alarm/.gitignore
  feature/alarm/build.gradle.kts
  feature/alarm/src/main/kotlin/com/site/pochak/app/feature/alarm/AlarmScreen.kt
  feature/alarm/src/main/kotlin/com/site/pochak/app/feature/alarm/AlarmViewModel.kt
  feature/alarm/src/main/kotlin/com/site/pochak/app/feature/alarm/navigation/AlarmNavigation.kt
  feature/alarm/src/main/res/values/strings.xml
  feature/camera/.gitignore
  feature/camera/build.gradle.kts
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/CameraScreen.kt
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/CameraViewModel.kt
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/navigation/CameraNavigation.kt
  feature/camera/src/main/res/values/strings.xml
  feature/home/.gitignore
  feature/home/build.gradle.kts
  feature/home/src/main/kotlin/com/site/pochak/app/feature/home/HomeScreen.kt
  feature/home/src/main/kotlin/com/site/pochak/app/feature/home/HomeViewModel.kt
  feature/home/src/main/kotlin/com/site/pochak/app/feature/home/navigation/HomeNavigation.kt
  feature/home/src/main/res/values/strings.xml
  feature/login/.gitignore
  feature/login/build.gradle.kts
  feature/login/src/main/kotlin/com/site/pochak/app/feature/login/LoginScreen.kt
  feature/login/src/main/kotlin/com/site/pochak/app/feature/login/LoginViewModel.kt
  feature/login/src/main/kotlin/com/site/pochak/app/feature/login/navigation/LoginNavigation.kt
  feature/post/.gitignore
  feature/post/build.gradle.kts
  feature/post/src/main/kotlin/com/site/pochak/app/feature/camera/PostScreen.kt
  feature/post/src/main/kotlin/com/site/pochak/app/feature/camera/PostViewModel.kt
  feature/post/src/main/kotlin/com/site/pochak/app/feature/camera/navigation/PostNavigation.kt
  feature/post/src/main/res/values/strings.xml
  feature/profile/.gitignore
  feature/profile/build.gradle.kts
  feature/profile/src/main/kotlin/com/site/pochak/app/feature/profile/ProfileScreen.kt
  feature/profile/src/main/kotlin/com/site/pochak/app/feature/profile/ProfileViewModel.kt
  feature/profile/src/main/kotlin/com/site/pochak/app/feature/profile/navigation/ProfileNavigation.kt
  feature/profile/src/main/res/values/strings.xml
  settings.gradle.kts
Labels: ✨ feat, 용우

#11 [Feat] 로그인 & 회원가입을 위한 Network Api & Data Module
  core/data/build.gradle.kts
  core/data/src/main/kotlin/com/site/pochak/app/core/data/di/DataModule.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/repository/LoginRepository.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/repository/LoginRepositoryImpl.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/repository/ProfileRepository.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/repository/ProfileRepositoryImpl.kt
  core/network/build.gradle.kts
  core/network/src/main/AndroidManifest.xml
  core/network/src/main/kotlin/com/site/pochak/app/core/network/di/NetworkModule.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/model/NetworkLoginInfo.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/model/NetworkResponse.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/service/LoginService.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/service/ProfileService.kt
Labels: ✨ feat

#12 [Feat] 구글 로그인 & 회원 가입, 토큰 관리
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/site/pochak/app/navigation/PochakNavHost.kt
  app/src/main/kotlin/com/site/pochak/app/ui/PochakApp.kt
  core/common/src/main/kotlin/com/site/pochak/app/core/network/PochakDispatchers.kt
  core/common/src/main/kotlin/com/site/pochak/app/core/network/di/CoroutineScopesModule.kt
  core/common/src/main/kotlin/com/site/pochak/app/core/network/di/DispatchersModule.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/Utils.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/repository/LoginRepository.kt
  core/data/src/main/kotlin/com/site/pochak/app/core/data/repository/LoginRepositoryImpl.kt
  core/datastore/.gitignore
  core/datastore/build.gradle.kts
  core/datastore/src/main/kotlin/com/site/pochak/app/core/datastore/TokenManager.kt
  core/datastore/src/main/kotlin/com/site/pochak/app/core/datastore/di/DataStoreModule.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/component/Dialog.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/component/IconButton.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/component/Padding.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/component/TopAppBar.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/theme/Type.kt
  core/designsystem/src/main/res/drawable/ic_left_arrow.xml
  core/network/build.gradle.kts
  core/network/src/main/kotlin/com/site/pochak/app/core/network/PochakNetwork.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/di/NetworkModule.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/model/NetworkLoginInfo.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/model/NetworkResponse.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/model/NetworkToken.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/service/LoginService.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/service/TokenService.kt
  core/network/src/main/kotlin/com/site/pochak/app/core/network/token/AuthInterceptor.kt
  feature/login/build.gradle.kts
  feature/login/src/main/kotlin/com/site/pochak/app/feature/login/LoginScreen.kt
  feature/login/src/main/kotlin/com/site/pochak/app/feature/login/LoginViewModel.kt
  feature/login/src/main/kotlin/com/site/pochak/app/feature/login/navigation/LoginNavigation.kt
  feature/login/src/main/res/drawable/feature_login_google.png
  feature/login/src/main/res/drawable/feature_login_logo.xml
  feature/login/src/main/res/drawable/feature_login_logo_ic.xml
  feature/login/src/main/res/values/strings.xml
  feature/profile-setting/.gitignore
  feature/profile-setting/build.gradle.kts
  feature/profile-setting/src/main/kotlin/com/site/pochak/app/feature/profile/setting/ProfileSettingScreen.kt
  feature/profile-setting/src/main/kotlin/com/site/pochak/app/feature/profile/setting/ProfileSettingViewModel.kt
  feature/profile-setting/src/main/kotlin/com/site/pochak/app/feature/profile/setting/navigation/ProfileSettingRoute.kt
  feature/profile-setting/src/main/res/drawable/feature_profile_setting_add_profile.xml
  feature/profile-setting/src/main/res/drawable/feature_profile_setting_handle_checked.xml
  feature/profile-setting/src/main/res/drawable/feature_profile_setting_handle_unchecked.xml
  feature/profile-setting/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ feat

#14 [Feat] 카메라탭 UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/site/pochak/app/navigation/PochakNavHost.kt
  app/src/main/kotlin/com/site/pochak/app/ui/PochakApp.kt
  core/designsystem/src/main/kotlin/com/site/pochak/app/core/designsystem/icon/PochakIcons.kt
  core/designsystem/src/main/res/drawable/ic_delete.xml
  core/designsystem/src/main/res/drawable/ic_search.xml
  feature/camera/build.gradle.kts
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/CameraScreen.kt
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/UploadScreen.kt
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/UploadViewModel.kt
  feature/camera/src/main/kotlin/com/site/pochak/app/feature/camera/navigation/CameraNavigation.kt
  feature/camera/src/main/res/drawable/ic_capture_button.xml
  feature/camera/src/main/res/drawable/ic_flash_off.xml
  feature/camera/src/main/res/drawable/ic_flash_on.xml
  feature/camera/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨ feat, 🌻 나리
